@use "util/colors";

@import "nav";

body {
    background-color: colors.$bodyBackground;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

#mainContainer {
    padding: 0.5rem;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    color: colors.$anchorColor;
    text-decoration: none;
}

#productCard {
    width: 14rem;
    height: fit-content;
    background-color: colors.$productCardBackground;
    border: 2px solid colors.$productCardBorder;
    flex-shrink: 0;
    cursor: pointer;
    
    &:hover {
        translate: scale(2, 2);
    }

    > #productCardImage {
        background-color: colors.$productCardBackground;
        aspect-ratio: 1;
        width: 100%;
    }

    > #productCardInfo {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        
        > #productCardInfoName {
            text-align: center;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            text-wrap: nowrap;
        }
    }
}

#productsContainer {
    > #productsView {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
}

#cartAmount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

#cartItem {
    background-color: colors.$cartItemBackground;
    padding: 1rem;
    margin: 0.25rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #00000025;
}

#cartView {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

#submitPurchase {
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}

#shopName {
    font-weight: bold;
    font-size: x-large;
}

#cartProductName {
    width: 1rem;
}


.oldPrice {
    text-decoration: line-through;
}

.salePrice {
    color: colors.$saleTextColor
}