@use "util/colors";

@import "nav";
@import "views/products";
@import "views/cart";

body {
    background-color: colors.$bodyBackground;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

#mainContainer {
    padding: 0.5rem;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    color: colors.$anchorColor;
    text-decoration: none;
}

#shopName {
    font-weight: bold;
    font-size: x-large;
}