$navBackground : #5c6e60;
$bodyBackground : #d7eedc;
$anchorColor: #fff;

$productCardBackground: bisque;
$productCardBorder: darken($color: $productCardBackground, $amount: 40);

$cartItemBackground: #f7f7f7;

$saleTextColor: rgb(210, 0, 0);
